[submodule "thirdparty/CLI11"]
	path = thirdparty/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/gravity"]
	path = thirdparty/gravity
	url = https://github.com/marcobambini/gravity.git
[submodule "thirdparty/bgfx"]
	path = thirdparty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "thirdparty/bx"]
	path = thirdparty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "thirdparty/bimg"]
	path = thirdparty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "thirdparty/nativefiledialog-extended"]
	path = thirdparty/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
